#section_about_me {
    width: 100%;
    height: 930px;
}

.section_topic_1 {
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 30px;
}

.section_topic_2 {
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 15px;
    color: #868B8D;
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 30px;
}

#about_me_main_container {
    /*border: 2px solid red;*/
    height: calc(930px - 132px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section_about_me > div > div:nth-child(1) {
    /*border: 2px solid green;*/
    position: relative;

}

#section_about_me > div > div:nth-child(2) {
    /*border: 2px solid blueviolet;*/
    position: relative;
    /*top: 20px;*/
    bottom: 30px;
    margin: auto;
    width: max-content;
}

#about_me_img {
    width: 400px;
    position: absolute;
    top: 50px;
    /*bottom: 0;*/
    left: 0;
    right: 0;
    margin: auto;
}

#section_about_me > div > div:nth-child(2) > h2 {
    font-family: 'KoHo', sans-serif;
    font-size: 33px;
    margin-left: 7px;

}

#section_about_me > div > div:nth-child(2) > p {
    font-family: 'Rambla', sans-serif;
    color: #868B8D;
    width: max-content;
    height: max-content;
    font-size: 19px;
    margin: 8px;
}

.about_me_span {
    color: #4D6197;
    font-weight: bold;
}

#about_me_experience_container {
    width: 400px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*border: 2px solid red;*/
    margin-left: -8px;
    margin-top: 65px;

}

#about_me_experience_container > div {
    /*border: 2px solid black;*/
    font-family: 'KoHo', sans-serif;
    font-size: 25px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}


.about_me_experience_span {
    font-size: 30px;
    position: relative;
    bottom: 5px;
}

#about_me_experience_container > div > h2 {
    /*position: absolute;*/
    width: max-content;
    height: max-content;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 7px;
}

#about_me_experience_container > div > p {
    color: #868B8D;
    font-family: 'Pathway Extreme', sans-serif;
    width: max-content;
    height: max-content;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    /*padding-left: 20px;*/
}

#about_me_experience_container > div:nth-child(3) {
    top: -8px;
}
#download_cv {
    color: white;
    background-color: #4D6197;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 0;
    width: 170px;
    height: 55px;
    margin-top: 65px;
    margin-left: 13px;
    cursor: pointer;
}

#download_span {
    font-size: 20px;
    position: relative;
    left: 7px;
}

#download_cv:hover{
    background-color: #273C75;
}




/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */



@media screen and (max-width: 1540px) {
    #section_about_me {
        height: 750px;
    }

    .section_topic_1 {
        font-size: 30px;
        padding-top: 35px;
    }

    .section_topic_2 {
        font-size: 13px;
        padding-bottom: 25px;
    }

    #about_me_main_container {
        height: calc(710px - 83px);
    }

    #about_me_img {
        width: 310px;
    }

    #section_about_me > div > div:nth-child(2) {
        bottom: 25px;
        right: 65px;
    }

    #section_about_me > div > div:nth-child(2) > h2 {
        font-size: 30px;
        margin-left: 8px;
    }

    #section_about_me > div > div:nth-child(2) > p {
        font-size: 17px;
        margin: 8px;

    }

    #about_me_experience_container {
        width: 350px;
        height: 80px;
        margin-top: 45px;
    }

    #about_me_experience_container > div {
        font-size: 20px;
    }

    .about_me_experience_span {
        font-size: 20px;
    }


    #about_me_experience_container > div > p {
        font-size: 13px;
    }

    #download_cv {
        margin-top: 45px;
    }

}


    /*----------------------------------------------------------------------------------------------------------------*/

    @media screen and (max-width: 1125px) {

        #h2_about_me {
            padding-bottom: 45px;
        }

        #section_about_me > div > div:nth-child(2) > p {
            font-size: 15px;
            margin: 6px;
        }

        #section_about_me > div > div:nth-child(2) > h2 {
            margin-left: 6px;
            font-size: 28px;
        }

        #about_me_img{
            width: 300px;
        }

}

    /*----------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width: 990px) {

        #about_me_img{
            width: 270px;
        }

        #section_about_me > div > div:nth-child(2) {
            right: 20px;
        }

        #section_about_me > div > div:nth-child(2) > p {
            font-size: 14px;
            margin: 5px;
        }

        #section_about_me > div > div:nth-child(2) > h2 {
            font-size: 28px;
            margin-left: 6px;
        }

        #download_cv {;
            width: 170px;
            height: 50px;
            margin-top: 65px;
            margin-left: 13px;
        }

    }