/*
.container{
    max-width: 768px;
    margin-left: 20px;
    margin-right: 20px;
}
.grid{
    display: grid;
    gap: 1.5rem;
}
*/

header {
    position: relative;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 4px;
}


header > nav > ul {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    position: absolute;
    right: 25px;
    top: 15px;

}

header > nav > ul > li {
    display: inline;
    margin: 15px;

}

main {
    width: 100%;
    height: 848px;
    /*background-color: #b6d4fe;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

main > div:nth-child(1) {
    /*border: 2px solid red;*/
    position: relative;
    top: 0;
    bottom: 0;
    left: 60px;
    margin: auto;
}

main > div:nth-child(2) {
    /*border: 2px solid green;*/
    /*background-image: url("/assets/img/main img.png");*/
    position: relative;
}

#main_img {
    position: absolute;
    left: 80px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 480px;
}


main > div:nth-child(1) > p:nth-child(1) {
    font-family: 'Inter', sans-serif;
    color: #4D6197;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 6px;

}

main > div:nth-child(1) > p:nth-child(2) {
    font-family: 'Inder', sans-serif;
    font-size: 50px;
    margin-top: 8px;
    margin-bottom: 12px;
}

main > div:nth-child(1) > p:nth-child(3) {
    font-family: 'Inter', sans-serif;
    color: #868B8D;
    font-size: 22px;
    margin-top: 8px;
    margin-bottom: 17px;
}

main > div:nth-child(1) > p:nth-child(4) {
    font-family: 'Open Sans', sans-serif;
    color: #868B8D;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 5px;
}

main > div:nth-child(1) > p:nth-child(5) {
    font-family: 'Open Sans', sans-serif;
    color: #868B8D;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 5px;
}

main > div:nth-child(1) > p:nth-child(6) {
    font-family: 'Open Sans', sans-serif;
    color: #868B8D;
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 23px;
}


/*#868B8D*/

/*
main > section > div:nth-child(1) {
    width: 100%;
    height: 800px;
    background-color: #b6d4fe;
    border: 2px solid black;
    !*    display: ;*!

    !*position: relative;*!
}

main > section > div > div:nth-child(1) {
    width: 50%;
    height: 600px;
    border: 2px solid black;
    background-color: #0a53be;
    position: absolute;
}

main > section > div > div:nth-child(2) {
    width: 50%;
    height: 600px;
    border: 2px solid black;
    background-color: red;
    position: absolute;
    right: 0;
}*/


.icons {
    width: 150px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;

}

.social_icons {
    font-size: 30px;
    color: #4D6197;
}

#github {

}

#linkedin {

}

#twitter {

}

#contact_me {
    color: white;
    background-color: #273C75;
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
    border: 0;
    width: 125px;
    height: 50px;
    margin-top: 30px;
    margin-bottom: 100px;
    cursor: pointer;
}

.scroll_down {
    list-style-type: none;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    display: inline;
}

.scroll_mouse {
    font-size: 20px;
    color: #4D6197;
}

/*---------------------------------------------# ABOUT ME SECTION #---------------------------------------------------*/

#section_about_me {
    width: 100%;
    height: 930px;
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr;*/
    /*background-color: antiquewhite;*/
    /*position: relative;*/
}

.section_topic_1 {
    font-family: 'Karla', sans-serif;
    font-size: 35px;
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;

}

.section_topic_2 {
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 15px;
    color: #868B8D;
    width: max-content;
    height: max-content;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 30px;
}

#about_me_main_container {
    /*border: 2px solid red;*/
    height: calc(930px - 104px);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#section_about_me > div > div:nth-child(1) {
    /*border: 2px solid green;*/
    position: relative;
}

#section_about_me > div > div:nth-child(2) {
    /*border: 2px solid blueviolet;*/
    position: relative;
    /*top: 20px;*/
    bottom: 30px;
    right: 100px;
    margin: auto;
    width: max-content;
}

#about_me_img {
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
    /*bottom: 90px;*/
    margin: auto;
    width: 390px;
}

#section_about_me > div > div:nth-child(2) > h2 {
    font-family: 'KoHo', sans-serif;
    font-size: 35px;
    margin-left: 13px;
}

#section_about_me > div > div:nth-child(2) > p {
    font-family: 'Rambla', sans-serif;
    color: #868B8D;
    font-size: 19px;
    margin: 13px;
}

#about_me_span {
    color: #4D6197;
    font-weight: bold;
}

#about_me_experience_container {
    width: 400px;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*border: 2px solid red;*/
    margin-left: -8px;
    margin-top: 65px;

}

#about_me_experience_container > div {
    /*border: 2px solid black;*/
    font-family: 'KoHo', sans-serif;
    font-size: 25px;
    /*position: relative;*/
}


.about_me_experience_span {
    font-size: 30px;
    position: relative;
    bottom: 5px;
}

#about_me_experience_container > div > h2 {
    /*position: absolute;*/
    width: max-content;
    height: max-content;
    bottom: 35px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 7px;
}

#about_me_experience_container > div > p {
    color: #868B8D;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 15px;
    font-weight: bold;
    width: max-content;
    height: max-content;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
    padding-top: 2px;
    padding-bottom: 2px;
}

#download_cv {
    color: white;
    background-color: #273C75;
    font-family: 'Inter', sans-serif;
    border-radius: 7px;
    border: 0;
    width: 170px;
    height: 50px;
    margin-top: 65px;
    margin-left: 13px;
    cursor: pointer;
}

#download_span {
    font-size: 20px;
    position: relative;
    left: 7px;
}


/*---------------------------------------------# MY SERVICES SECTION #------------------------------------------------*/


#section_my_services {
    width: 100%;
    height: 930px;
    /*background-color: bisque;*/
}

#my_services_main_container {
    /*border: 2px solid red;*/
    height: calc(930px - 104px);
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;

}

#my_services_main_container > div {
    /*border: 2px solid black;*/
    width: 350px;
    height: 450px;
    margin: 50px;
    margin-bottom: 150px;
    box-shadow: 0 0 3px 0;

}

#my_services_main_container > div > h2{
    font-family: 'Inter', sans-serif;
    width: max-content;
    height: max-content;
    position: relative;
    top: 230px;
    left: 40px;
    padding-bottom: 7px;
    margin: 0;
}

#my_services_main_container > div > p{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    width: max-content;
    height: max-content;
    color: #4D6197;
    position: relative;
    left: 40px;
    top: 260px;
}

#my_services_main_container > div > img{
    width: 37px;
    position: relative;
    left: 40px;
    top: 210px;
}

#my_services_main_container > div:nth-child(1) {
}

#my_services_main_container > div:nth-child(2) {
}

#my_services_main_container > div:nth-child(3) {
}















/*---------------------------------------------# Skills SECTION #------------------------------------------------*/

#section_skills {
    width: 100%;
    height: 930px;
    /*background-color: bisque;*/
}

#skills_main_container {
    /*border: 2px solid red;*/
    height: calc(930px - 104px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#skills_main_container > div{
    /*border: 2px solid black;*/
    width: 510px;
    height: 110px;

}

#skills_main_container > div:nth-child(1){
    position: relative;
    left: 50px;
    bottom: 30px;

}

#skills_main_container > div:nth-child(2){
    position: relative;
    left: -50px;
    bottom: 30px;


}

#skills_main_container > div:nth-child(3){
    position: relative;
    left: 50px;
    top: -100px;


}

#skills_main_container > div > img{
    width: 48px;
    position: relative;
    left: 20px;
    top: 25px;
    /*display: inline;*/

}

#skills_main_container > div > h2{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    display: inline;
    position: relative;
    left: 40px;
    top: 0;

}

#skills_main_container > div > h3{
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 14px;
    color: #868B8D;
    position: relative;
    left: 92px;
    top: 0;

}

.arrow_up{
    width: 48px;
    position: relative;
    left: 180px;
    top: 22px;
}

.arrow_up_second{
    width: 48px;
    position: relative;
    left: 240px;
    top: 22px;
}



















/*---------------------------------------------# Education SECTION #------------------------------------------------*/

#section_education {
    width: 100%;
    height: 930px;
    background-color: aliceblue;
}










