#section_contact_me {
    width: 100%;
    height: 930px;
}
#contact_me_main_container{
    height: calc(930px - 132px);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

#contact_me_main_container > div{
}

#contact_me_main_container > div:nth-child(1){
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 500px;
    height: 650px;
    position: relative;
    top: 0;
    bottom: 0;
    right: -5vw;
    margin: auto;
}

#contact_me_main_container > div:nth-child(1) > div{
    margin: 20px;
}

#contact_me_main_container > div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    width: 550px;
    height: 650px;
    position: relative;
    top: 0;
    bottom: 0;
    left: -5vw;
    margin: auto;
    transition: ease-in-out 0.3s;
}

#contact_me_main_container > div:nth-child(2) > div{
    /*border: 1px solid red;*/
    margin: 24px;
    border-radius: 10px;
    background-color: var(--extra-light-blue-colour);
    box-shadow: 1px 1px 3px gray;
}

#contact_me_main_container > div:nth-child(2) > div:nth-child(1){

}

#contact_me_main_container > div:nth-child(2) > div:nth-child(3){
    grid-column: 1/3;

}

#contact_me_main_container > div:nth-child(2) > div:nth-child(4){
    grid-column: 1/3;
    grid-row: 3/5;
}

#contact_me_main_container > div:nth-child(2) > div:nth-child(5){
    grid-column: 1/3;

}

.contact_input{
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 5px;
    margin-top: 5px;
}

#txt_name{
    width: 195px;
    height: 25px;
}

#email{
    width: 195px;
    height: 25px;
}

#txt_project{
    width: 475px;
    height: 25px;
}

.contact_me_icons{
    font-size: 40px;
    position: relative;
    top: 15px;
    left: 15px;
    color: var(--ligth-blue-colour);
}

.contact_me_h2{
    display: inline;
    margin-left: 30px;
    font-family: 'Karla', sans-serif;
    font-size: 23px;
}

.contact_me_p{
    display: block;
    margin-left: 80px;
    margin-top: 5px;
    margin-bottom: 2px;
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 13px;
    color: var(--ligth-gray-color);
    font-weight: bold;
}

#send_message{
    color: white;
    background-color: var(--ligth-blue-colour);
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 0;
    width: 170px;
    height: 55px;
    margin-top: 40px;
    margin-left: 24px;
    cursor: pointer;
}

#send_message_span{
    font-size: 20px;
    position: relative;
    left: 7px;
}

#send_message:hover{
    background-color: var(--dark-blue-colour);
}




/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    #section_contact_me {
        height: 800px;
    }

    #contact_me_main_container{
        height: calc(710px - 80px);
    }

    #contact_me_main_container > div:nth-child(1){
        width: 460px;
        height: 550px;
        right: -5vw;

    }

    #contact_me_main_container > div:nth-child(2){
        width: 460px;
        height: 550px;
        left: -5vw;
    }

    #contact_me_main_container > div:nth-child(2) > div{
        margin: 14px;
    }

    #txt_project{
        width: 430px;
    }

    #message_area{
        width: 430px;
        height: 180px;
    }

}

    /*----------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width: 990px) {

        #contact_me_main_container > div:nth-child(1){
            width: 350px;
            height: 550px;
            left: -10px;
        }

        #contact_me_main_container > div:nth-child(2){
            width: 430px;
            height: 550px;
            left: -25px;
        }

        #txt_name{
            width: 172px;
        }

        #email{
            width: 172px;
        }

        #txt_project{
            width: 386px;
        }

        #message_area{
            width: 386px;
        }
    }


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 772px) {

        #section_contact_me {
            height: 1240px;
        }

        #contact_me_main_container{
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr ;

        }

        #contact_me_main_container > div:nth-child(1){
            width: 500px;
            height: 400px;
        }


        #contact_me_main_container > div:nth-child(2){
            width: 500px;
            height: 650px;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
}



/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 545px) {

        #contact_me_main_container > div:nth-child(2){
            width: 410px;
        }
}


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 512px) {

    #contact_me_main_container > div:nth-child(2){
        width: 370px;
        left: -35px;
    }
}

/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 480px) {

    #contact_me_main_container > div:nth-child(2){
        left: -55px;
    }
}