#section_education {
    width: 100%;
    height: 930px;
    position: relative;
}

.chart_bar{
    width: 400px;
    height: 0px;
    border: 1px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: 490px;
    margin: auto;
    transform: rotate(90deg);
}

.section_education_div_dot{
    width: 18px;
    height: 18px;
    background-color: #273C75;
    border-radius: 10px;
    position: absolute;
    left: -10px;
}

.chart_bar > div:nth-child(1){
    left: -400px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.chart_bar > div:nth-child(2){
    left: -1px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.chart_bar > div:nth-child(3){
    right: -400px;
    top: 0;
    bottom: 0;
    margin: auto;
}

.section_education_base_div{
    width: 300px;
    height: 110px;
    background-color: #BEC9E2;
    border-radius: 10px;
    box-shadow: 1px 1px 1px gray;
    transform: rotate(270deg);
}

.chart_bar > div:nth-child(4){
    position: absolute;
    left: 0;
    right: 0;
    top: 160px;
    /*bottom: 0;*/
    margin: auto;
}

.chart_bar > div:nth-child(5){
    position: absolute;
    left: 250px;
    /*right: 0;*/
    /*top: 0;*/
    bottom: 150px;
    margin: auto;
}

.chart_bar > div:nth-child(6){
    position: absolute;
    /*left: 0;*/
    right: 250px;
    /*top: 0;*/
    bottom: 160px;
    margin: auto;
}

.section_education_h2{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    width: max-content;
    height: max-content;
    position: relative;
    left: 0;
    right: 0;
    top: 25px;
    margin: auto;
}

.section_education_p{
    font-family: 'Pathway Extreme', sans-serif;
    font-size: 14px;
    color: #868B8D;
    width: max-content;
    height: max-content;
    position: relative;
    top: 35px;
    left: 0;
    right: 0;
    margin: auto;
    font-weight: bolder;

}

.section_education_shape{
    width: 220px;
    position: relative;
    top: -50px;
}



/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    #section_education {
        height: 750px;
    }

    .chart_bar{
        width: 350px;
        top: 408px;
    }

    .section_education_div_dot{
        width: 15px;
        height: 15px;
    }

    .chart_bar > div:nth-child(1){
        left: -360px;
    }

    .chart_bar > div:nth-child(3){
        right: -360px;
    }

    .section_education_base_div{
        width: 260px;
        height: 95px;
    }

    .chart_bar > div:nth-child(4){
        top: 140px;
        transition: ease-in-out 0.8s;
    }

    .chart_bar > div:nth-child(5){
        left: 220px;
        bottom: 140px;
        transition: ease-in-out 0.8s;
    }

    .chart_bar > div:nth-child(6){
        right: 220px;
        bottom: 140px;
        transition: ease-in-out 0.8s;
    }

    .section_education_h2{
        font-size: 18px;
    }

    .section_education_p{
        font-size: 12px;
    }

    .section_education_shape{
        width: 190px;
    }

}


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 772px) {

    #section_education {
        /*width: 100%;*/
        height: 850px;
    }

    .chart_bar > div:nth-child(4){
        top: -45px;
        transition: ease-in-out 0.8s;
    }

    .chart_bar > div:nth-child(5){
        left: 220px;
        bottom: -50px;
        transition: ease-in-out 0.8s;
    }

    .chart_bar > div:nth-child(6){
        right: 220px;
        bottom: -50px;
        transition: ease-in-out 0.8s;
    }

    .chart_bar{
        width: 300px;
        top: 490px;
        transition: ease-in-out 0.8s;
    }

    .section_education_shape{
        width: 120px;
        top: -50px;
        transition: ease-in-out 0.6s;
    }

    .chart_bar > div:nth-child(1){
        left: -300px;
        z-index: 20;
        transition: ease-in-out 0.6s;
    }

    .chart_bar > div:nth-child(2){
        left: 100px;
        z-index: 20;
        transition: ease-in-out 0.6s;
    }

    .chart_bar > div:nth-child(3){
        display: none;
        transition: ease-in-out 0.6s;
    }





}













