#footer{
    width: 100%;
    height: 400px;
    background-color: var(--dark-blue-colour);
}

#footer > div{
    width: 80vw;
    height: 140px;
    position: relative;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#footer > div > div{
    position: relative;
}

#footer_second_section_1{
    display: none;
}

#footer_second_section_2{
    display: none;
}

#footer > div > div:nth-child(1){
    grid-column: 1/4;
}

#footer > div > div:nth-child(9){
    grid-column: 1/4;
}


.footer_h1{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: relative;
    top: 30px;
}

.footer_h4{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 0;
    right: 0;
    top: 25px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
}

.footer_h4:hover{
    color: var(--extra-light-blue-colour);
}

.nav_link{
    text-decoration: none;
}


.full_stack_developer{
    width: fit-content;
    height: fit-content;
    position: relative;
    /*top: 10px;*/
    padding-top: 30px;
    margin-left: 2px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

.footer_social_icons{
    color: white;
    position: relative;
    font-size: 22px;
    top: 20px;
    margin: 0;
}

.footer_social_icons:hover{
    color: var(--extra-light-blue-colour);
}

#footer_github{
    padding-left: 110px;
}

#footer_linkedin{
    padding-left: 60px;
    padding-right: 60px;
}

#footer_twitter{
    left: -5px;
}

#footer_rights{
    width: 300px;
    height: 40px;
    position: relative;
    left: 0;
    right: 0;
    bottom: -195px;
    margin: auto;
}

.footer_h4_rights{
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    position: relative;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
}

.footer_social_icons2{
    display: none;
}

.footer_social_icons2:hover{
    color: var(--extra-light-blue-colour);
}

#res_footer_h1{
    display: none;
}

#res_full_stack_developer{
    display: none;
}

#id_footer_h4_1{
    display: none;
}

#id_footer_h4_2{
    display: none;
}

#id_footer_h4_3{
    display: none;
}

#id_footer_h4_4{
    display: none;
}




/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */



    @media screen and (max-width: 1540px) {
        #footer{
            height: 380px;
        }

        .full_stack_developer{
            top: 10px;
        }

        .footer_social_icons2{
            display: none;
        }
    }


/*----------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width: 1300px) {
        #footer > div{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }


        .footer_social_icons{
            display: none;
        }

        .footer_social_icons2{
            color: white;
            position: relative;
            font-size: 22px;
            bottom: -60px;
            padding-left: 55px;
            margin: 0;
            display: inline;
        }
    }

/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 772px) {

        #footer {
            height: 750px;
        }

        #footer > div {
            display: none;
        }

        #footer_second_section_1{
            width: 300px;
            height: 40vh;
            display: grid;
            position: relative;
            top: 50px;
            left: 60px;
        }

        #res_footer_h1{
            display: block;
        }

        #res_full_stack_developer{
            display: block;
            padding-top: 10px;
        }

        #id_footer_h4_1{
            display: block;
            left: -125px;
            margin-bottom: 30px;
        }

        #id_footer_h4_2{
            display: block;
            left: -115px;
            margin-bottom: 30px;
        }

        #id_footer_h4_3{
            display: block;
            left: -128px;
            margin-bottom: 30px;
        }

        #id_footer_h4_4{
            display: block;
            left: -115px;
            margin-bottom: 30px;
        }

        #footer_second_section_2{
            width: 100px;
            height: 15vh;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr ;
            position: relative;
            top: 90px;
            left: 60px;
        }

        .footer_social_icons{
            display: inline;
        }

}






