#footer{
    width: 100%;
    height: 400px;
    background-color: var(--dark-blue-colour);
}

#footer > div{
    /*border: 2px solid red;*/
    /*width: 1100px;
    height: 140px;*/
    width: 80vw;
    height: 140px;
    position: relative;
    left: 0;
    right: 0;
    top: 60px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#footer > div > div{
    /*border: 2px solid burlywood;*/
    position: relative;
}

#footer > div > div:nth-child(1){
    grid-column: 1/4;
}

#footer > div > div:nth-child(9){
    grid-column: 1/4;
}


#footer_h1{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 0;
    position: relative;
    top: 30px;
}

.footer_h4{
    width: fit-content;
    height: fit-content;
    position: relative;
    left: 0;
    right: 0;
    top: 25px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
}

.footer_h4:hover{
    color: var(--extra-light-blue-colour);
}

.nav_link{
    text-decoration: none;
}


.full_stack_developer{
    width: fit-content;
    height: fit-content;
    position: relative;
    /*top: 10px;*/
    padding-top: 30px;
    margin-left: 2px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 15px;
}

.footer_social_icons{
    color: white;
    position: relative;
    font-size: 22px;
    top: 20px;
    margin: 0;
}

.footer_social_icons:hover{
    color: var(--extra-light-blue-colour);
}

#footer_github{
    /*left: -390px;*/
    padding-left: 110px;
}

#footer_linkedin{
    padding-left: 60px;
    padding-right: 60px;
}

#footer_twitter{
    left: -5px;
}

#footer_rights{
    /*border: 2px solid aquamarine;*/
    width: 300px;
    height: 40px;
    position: relative;
    left: 0;
    right: 0;
    bottom: -195px;
    margin: auto;
}

.footer_h4_rights{
    width: fit-content;
    height: fit-content;
    font-size: 10px;
    position: relative;
    left: 0;
    right: 0;
    top: 8px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    color: white;
}

.footer_social_icons2{
    display: none;
}

.footer_social_icons2:hover{
    color: var(--extra-light-blue-colour);
}





/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


    @media screen and (max-width: 1540px) {
        #footer{
            height: 380px;
        }

        .full_stack_developer{
            top: 10px;
        }

        .footer_social_icons2{
            display: none;
        }
    }






    @media screen and (max-width: 1300px) {
        #footer > div{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }


        .footer_social_icons{
            display: none;
        }

        .footer_social_icons2{
            color: white;
            position: relative;
            font-size: 22px;
            bottom: -60px;
            padding-left: 55px;
            margin: 0;
            display: inline;


        }



    }











