#footer{
    width: 100%;
    height: 400px;
    background-color: #273C75;
}



/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    #footer{
        height: 300px;
    }
}