
:root{
    --ligth-blue-colour : #4D6197;
    --extra-light-blue-colour : #BEC9E2;
    --dark-blue-colour : #273C75;
    --ligth-gray-color : #7f8c8d;
}

html{
    scroll-behavior: smooth;
}

#logo{
    width: 150px;
    color: var(--dark-blue-colour);
    font-family: 'Inder', sans-serif;
    position: absolute;
    margin-left: 8vw;
    padding-top: 20px;
    cursor: pointer;
}

#logo > h3{
    width: fit-content;
    height: fit-content;
    margin: 0;
    font-size: 15px;
}

#logo > h2{
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding-left: 30px;
    font-size: 20px;
}

#nav_menu_bar{
    display: none;
}

header {
    /*position: relative;*/
    width: 100%;
    background: #fff;
    height: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 10000;
    position: fixed;

}


header > nav > ul {
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    position: absolute;
    right: 25px;
    top: 15px;

}

header > nav > ul > li {
    display: inline;
    margin: 15px;
}

.main_nav_link{
    text-decoration: none;
    color: black;
}

main {
    width: 100%;
    height: 848px;
    /*background-color: #b6d4fe;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.main_detail_container {
    /*border: 2px solid red;*/
    position: relative;
    top: 0;
    bottom: 0;
    left: 60px;
    margin: auto;
}

.main_image_container {
    /*border: 2px solid green;*/
    /*background-image: url("/assets/img/main img.png");*/
    position: relative;
}

#main_img {
    position: absolute;
    left: 80px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 480px;
}


.main_detail_container > h2 {
    font-family: 'Inter', sans-serif;
    color: var(--ligth-blue-colour);
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 1px;
}

.main_detail_container > h1 {
    font-family: 'Inder', sans-serif;
    font-size: 45px;
    margin-top: 8px;
    margin-bottom: 11px;
    font-weight: normal;
}

.main_detail_container > h3 {
    font-family: 'Inter', sans-serif;
    color: var(--ligth-gray-color);
    font-size: 20px;
    margin-top: 8px;
    margin-bottom: 17px;
}

.main_detail_container > p{
    font-family: 'Open Sans', sans-serif;
    color: var(--ligth-gray-color);
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 5px;
}

.icons {
    width: 150px;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: left;
    margin-top: 23px;

}

.social_icons {
    font-size: 30px;
    color: var(--ligth-blue-colour);
}

#contact_me {
    color: white;
    background-color: var(--ligth-blue-colour);
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    border: 0;
    width: 125px;
    height: 50px;
    margin-top: 35px;
    margin-bottom: 100px;
    cursor: pointer;
}

#contact_me:hover{
    background-color: var(--dark-blue-colour);
}

.btn_mouse_scroll{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--ligth-blue-colour);
    position: relative;
    left: -130px;
    bottom: -130px;
    cursor: pointer;
}

.btn_mouse_scroll_link{
    text-decoration: none;
}

.mouse_scroll_icons{
    font-size: 25px;
}

#scroll_down_arrow{
    position: relative;
    top: 2px;
    transition: ease-in-out 0.3s;
}

.main_nav_link:hover{
    color: var(--ligth-blue-colour);
}


#mySidenav {
    width: 300px;
    height: 570px;
    position: fixed;
    z-index: 10;
    top: 80px;
    left: -300px;
    background-color: var(--ligth-blue-colour);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mySidenav a {
    font-family: 'Poppins', sans-serif;
    padding: 20px 8px 20px 50px;
    text-decoration: none;
    /*text-align: left;*/
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
    position: relative;
    top: 30px;
}

#mySidenav a:hover {
    color: var(--extra-light-blue-colour);
    font-size: 20px;

}

.side_nav_bar_icons{
    padding-right: 20px;
}


/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    main {
        height: 720px;
    }

    #main_img {
        width: 360px;
        top: -10px;
    }

    .main_detail_container > h2 {
        font-size: 25px;
    }

    .main_detail_container > h1 {
        font-size: 40px;
    }

    .main_detail_container > h3 {
        font-size: 18px;
    }

    .main_detail_container > p{
        font-size: 15px;
    }

    .icons {
        width: 150px;
        height: 30px;
    }

    .social_icons {
        font-size: 28px;
    }

    #mySidenav{
        display: none;
    }
}


    /*----------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width: 1048px) {
        header > nav > ul {
            display: none;
        }

        #mySidenav{
            display: block;
        }

        #nav_menu_bar{
            display: inline;
            font-size: 30px;
            position: absolute;
            right: 50px;
            top: 25px;
            cursor: pointer;
        }

    }



    /*----------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width: 990px) {
        #main_img {
            width: 300px;
            top: -20px;
            left: 45px;
        }

        .main_detail_container {
            left: 25px;
        }

        .main_detail_container > h2 {
            font-size: 22px;
        }

        .main_detail_container > h1 {
            font-size: 35px;
        }





        #nav_menu_bar:hover{
            color: var(--ligth-blue-colour);
        }


    }



    /*----------------------------------------------------------------------------------------------------------------*/



    @media screen and (max-width: 772px) {
        main {
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr ;
            height: 900px;
            grid-template-areas:
            "div1 div2"
            "div2 div1";
            position: relative;
        }

        #div1{
            grid-area: div1;
        }

        #main_img {
            width: 280px;
            left: 30vw;
            top: 27vh;
        }

        .main_detail_container {
            position: relative;
            top: -1vh;
            width: 100vw;
            left: 30vw;
            margin-right: 300px;
        }

        .btn_mouse_scroll{
            display: none;
        }

        .main_detail_container > h2 {
            margin-bottom: 0;
        }

        .main_detail_container > h1 {
            margin-top: 18px;
        }

        .main_detail_container > h3 {
            margin-top: 20px;
        }

        .icons{
            margin-top: 30px;
        }

        .main_image_container{
            margin-top: 30px;
        }

    }

/*----------------------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 678px) {

    #main_img {
        left: 25vw;
    }

    .main_detail_container {
        left: 25vw;
    }

}


/*----------------------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 540px) {

    #main_img {
        left: 20vw;
    }

    .main_detail_container {
        left: 20vw;
    }

}


/*----------------------------------------------------------------------------------------------------------------*/



@media screen and (max-width: 500px) {

    #main_img {
        left: 17vw;
        width: 275px;
    }

    .main_detail_container {
        left: 17vw;
    }

}















