#section_my_services {
    /*border: 2px solid green;*/
    width: 100%;
    height: 930px;
    /*transition: ease-in-out 15s;*/
    /*background-color: bisque;*/
    /*transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    transition-duration: 0.15s, 0.15s, 0.15s;
    transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
    transition-delay: 0s, 0s, 0s;
    transition-property: color, background-color, border-color;*/
}

#my_services_main_container {
    /*border: 2px solid red;*/
    height: calc(930px - 132px);
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;

}

#my_services_main_container > div {
    /*border: 2px solid black;*/
    width: 350px;
    height: 450px;
    margin: 50px;
    margin-bottom: 150px;
    box-shadow: 0 0 3px 0;

}

#my_services_main_container > div > h2 {
    font-family: 'Inter', sans-serif;
    width: max-content;
    height: max-content;
    position: relative;
    top: 230px;
    left: 40px;
    padding-bottom: 7px;
    margin: 0;
}

#my_services_main_container > div > p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    width: max-content;
    height: max-content;
    color: #4D6197;
    position: relative;
    left: 40px;
    top: 260px;
    cursor: pointer;
}


#my_services_main_container > div > p:hover{
    color: #273C75;
    /*transform: translateX(10px);*/
    /*position: relative;*/
    /*left: 10px;*/

}

#my_services_main_container > div > img {
    width: 37px;
    position: relative;
    left: 40px;
    top: 210px;
}

.service-main-div{
    transition: ease-in-out 0.3s;
}

.service-main-div:hover{
    transform: translateY(-10px);
    box-shadow: 0 0 5px 3px green;
    border-bottom-color: #273C75;

}


.view_more_span{
    color: #4D6197;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    cursor: pointer;
    position: relative;
    left: 40px;
    top: 270px;
}

.view_more{
    position: relative;
    top: 0;
    left: 2px;
    font-size: 11px;
    transition: ease-in-out 0.3s;
}


#pop_up_main{
    width: 100%;
    height: 120%;
    position: absolute;
    justify-content: center;
    align-items: center;
}
.pop_up_container{
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    background-color: #f5f6fa;
    width: 400px;
    height: 300px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: none;
    opacity: 50;
    z-index: 100000;
}

.pop_up_container > h2{
    font-family: 'Inter', sans-serif;
    width: max-content;
    height: max-content;
    margin-left: 20px;
    margin-bottom:25px;
    position: relative;
    /*top: 20px;*/
}

.pop_up_class{
    color: #868B8D;
    font-family: 'Pathway Extreme', sans-serif;
    width: max-content;
    height: max-content;
    font-size: 15px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
}

.close{
    position: relative;
    left: 360px;
    top: 20px;
    cursor: pointer;
}

/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    #section_my_services{
        height: 720px;
    }

    #my_services_main_container{
        height: calc(710px - 114px);
    }

    #my_services_main_container > div {
        width: 300px;
        height: 380px;
        margin: 30px;
        margin-bottom: 100px;
        box-shadow: 0 0 3px 0;

    }

    #my_services_main_container > div > h2{
        font-size: 20px;
        top: 200px;
        left: 35px;
        padding-bottom: 7px;
        margin: 0;
    }

    #my_services_main_container > div > p{
        font-size: 13px;
        left: 35px;
        top: 220px;
    }

    #my_services_main_container > div > img{
        width: 32px;
        left: 35px;
        top: 185px;
    }

    .view_more_span {
        color: #4D6197;
        font-family: 'Inter', sans-serif;
        font-size: 13px;
        cursor: pointer;
        position: relative;
        left: 37px;
        top: 230px;

    }
}


    /*----------------------------------------------------------------------------------------------------------------*/


    @media screen and (max-width: 950px) {
        #my_services_main_container > div {
            width: 280px;
            height: 340px;
        }

        #my_services_main_container > div > h2{
            font-size: 18px;
            top: 185px;
            left: 30px;
        }

        .view_more_span {
            font-size: 12px;
            top: 210px;
            left: 32px;
        }

        #my_services_main_container > div > img{
            width: 30px;
            top: 170px;
            left: 30px;
        }
    }


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 772px) {

    #section_my_services {
        height: 950px;
    }

    #my_services_main_container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 800px;
    }

    #my_services_main_container > div {
        width: 80vw;
        height: 450px;
        /*margin: 0px;*/
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0 0 3px 0;
    }

    #my_services_main_container > div > h2 {
        top: 55px;
        left: 50px;
        padding-bottom: 7px;
        margin: 0;
    }

    .view_more_span{
        color: #4D6197;
        font-family: 'Inter', sans-serif;
        font-size: 12px;
        cursor: pointer;
        position: relative;
        left: 50px;
        top: 70px;
    }

    #my_services_main_container > div > img {
        width: 35px;
        left: 50px;
        top: 45px;
    }

    .pop_up_container{
        width: 360px;
    }

    .close{
        left: 320px;
    }

    #pop_up_main{
        height: 150%;
    }
}

















