#section_portfolio {
    width: 100%;
    height: 930px;
    position: relative;
    /*background-color: bisque;*/
    /*border: 2px solid black;*/
}

.slider_main_div{
    width: 800px;
    height: 300px;
    /*border: 2px solid black;*/
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
}

.slider_long_div{
    width: 3200px;
    height: 300px;
    /*border: 2px solid red;*/
    display: flex;

    animation-name: slides;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slides {
    0%, 20%{
        transform: translateX(-0%);
    }
    25%, 45%{
        transform: translateX(-25%);
    }
    50%, 70%{
        transform: translateX(-50%);
    }
    75%, 100%{
        transform: translateX(-75%);
    }

}

.portfolio_slide_divs {
    width: 800px;
    height: 300px;
    position: relative;
    /*border: 2px solid green;*/
}

.portfolio_slides_picture{
    width: 400px;
    border-radius: 8px;
    position: absolute;
    left: 20px;
    /*right: 10px;*/
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 1px 1px 1px gray;

}

.section_portfolio_h2{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    width: max-content;
    height: max-content;
    position: relative;
    left: 470px;
    /*right: 0px;*/
    top: 70px;
    margin: 0;
}

.section_portfolio_p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7f8c8d;
    width: max-content;
    height: max-content;
    position: relative;
    top: 90px;
    left: 470px;
    margin: 0;
}

.github_btn{
    color: white;
    background-color: #273C75;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border: 0;
    width: 150px;
    height: 48px;
    position: relative;
    left: 470px;
    top: 120px;
    cursor: pointer;
}

#portfolio_left_arrow_span{
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 70px;
    color: #4D6197;
    top: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
}

#portfolio_right_arrow_span{
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 70px;
    color: #4D6197;
    top: 0;
    bottom: 0;
    right: -30px;
    margin: auto;
}

.btn_arrow_div{
    width: 900px;
    height: 400px;
    /*border: 2px solid red;*/
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;

}




/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */



@media screen and (max-width: 1540px) {
    #section_portfolio {
        height: 720px;
    }

    .slider_main_div{
        width: 670px;
        height: 260px;
    }

    .slider_long_div{
        width: 2680px;
        height: 260px;
    }

    .portfolio_slide_divs {
        width: 670px;
        height: 260px;
    }

    .portfolio_slides_picture{
        width: 360px;
    }

    .section_portfolio_h2{
        font-size: 18px;
        left: 412px;
        top: 60px;
    }

    .section_portfolio_p{
        font-size: 12px;
        top: 80px;
        left: 412px;

    }

    .github_btn{
        font-size: 13px;
        width: 130px;
        height: 45px;
        left: 412px;
        top: 110px;
    }

    #portfolio_left_arrow_span{
        font-size: 55px;
        left: -62px;
    }

    #portfolio_right_arrow_span{
        font-size: 55px;
        right: -62px;
    }

    .btn_arrow_div{
        width: 670px;
        height: 260px;
    }

}



@media screen and (max-width: 795px) {

}
