#section_portfolio {
    width: 100%;
    height: 930px;
    position: relative;
}

.slider_main_div{
    width: 800px;
    height: 300px;
    /*border: 2px solid black;*/
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    transition: ease-in-out 0.6s;
}

.slider_long_div{
    width: 3200px;
    height: 300px;
    /*border: 2px solid red;*/
    display: flex;

    animation-name: slides;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.slider_long_div:hover{
    animation-delay: 15s;
}

@keyframes slides {
    0%, 20%{
        transform: translateX(-0%);
    }
    25%, 45%{
        transform: translateX(-25%);
    }
    50%, 70%{
        transform: translateX(-50%);
    }
    75%, 100%{
        transform: translateX(-75%);
    }

}

.portfolio_slide_divs {
    width: 800px;
    height: 300px;
    position: relative;
    /*border: 2px solid green;*/

}

.portfolio_slides_picture{
    width: 400px;
    border-radius: 8px;
    position: absolute;
    left: 20px;
    /*right: 10px;*/
    bottom: 0;
    top: 0;
    margin: auto;
    box-shadow: 1px 1px 1px gray;

}

.section_portfolio_h2{
    font-family: 'Inter', sans-serif;
    font-size: 21px;
    width: max-content;
    height: max-content;
    position: relative;
    left: 470px;
    /*right: 0px;*/
    top: 70px;
    margin: 0;
}

.section_portfolio_p{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7f8c8d;
    width: max-content;
    height: max-content;
    position: relative;
    top: 90px;
    left: 470px;
    margin: 0;
}

.github_btn{
    color: white;
    background-color: var(--ligth-blue-colour);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    border-radius: 8px;
    border: 0;
    width: 150px;
    height: 48px;
    position: relative;
    left: 470px;
    top: 120px;
    cursor: pointer;
}

.github_btn:hover{
    background-color: var(--dark-blue-colour);

}

#portfolio_left_arrow_span{
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 70px;
    color: #4D6197;
    top: 0;
    bottom: 0;
    left: -30px;
    margin: auto;
}

#portfolio_right_arrow_span{
    position: absolute;
    width: fit-content;
    height: fit-content;
    font-size: 70px;
    color: #4D6197;
    top: 0;
    bottom: 0;
    right: -30px;
    margin: auto;
}

.btn_arrow_div{
    width: 900px;
    height: 400px;
    /*border: 2px solid red;*/
    position: absolute;
    top: 0;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

#portfolio_left_arrow_span{
    cursor: pointer;
    transition: ease-in-out 0.6s;
}

#portfolio_right_arrow_span{
    cursor: pointer;
    transition: ease-in-out 0.6s;
}




/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */



@media screen and (max-width: 1540px) {
    #section_portfolio {
        height: 720px;
    }

    .slider_main_div{
        width: 670px;
        height: 260px;
    }

    .slider_long_div{
        width: 2680px;
        height: 260px;
    }

    .portfolio_slide_divs {
        width: 670px;
        height: 260px;
    }

    .portfolio_slides_picture{
        width: 360px;
    }

    .section_portfolio_h2{
        font-size: 18px;
        left: 412px;
        top: 60px;
    }

    .section_portfolio_p{
        font-size: 12px;
        top: 80px;
        left: 412px;

    }

    .github_btn{
        font-size: 13px;
        width: 130px;
        height: 45px;
        left: 412px;
        top: 110px;
    }

    #portfolio_left_arrow_span{
        font-size: 55px;
        left: -58px;
        cursor: pointer;
    }

    #portfolio_right_arrow_span{
        font-size: 55px;
        right: -58px;
        cursor: pointer;
    }

    .btn_arrow_div{
        width: 670px;
        height: 260px;
    }

}

/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 772px) {

    #section_portfolio {
        height: 700px;
    }

    .slider_main_div{
        width: 400px;
        height: 500px;
        top: 150px;
    }

    .slider_long_div {
        width: 1600px;
        height: 500px;

    }

    .portfolio_slide_divs {
        width: 400px;
        height: 500px;
    }

    .portfolio_slides_picture{
        width: 350px;
        left: 20px;
        top: -250px;
        transition: ease-in-out 0.6s;
    }

    .section_portfolio_h2{
        font-size: 21px;
        left: 30px;
        /*right: 0px;*/
        top: 270px;
        margin: 0;
    }

    .section_portfolio_p{
        top: 285px;
        left: 30px;
        margin: 0;
    }

    .github_btn{
        left: 30px;
        top: 310px;
    }

    #portfolio_left_arrow_span{
        left: 40px;
    }

    #portfolio_right_arrow_span{
        right: 40px;
    }






}


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 675px) {

    .slider_main_div{
        width: 350px;
        height: 500px;
        left: -60px;
    }

    .slider_long_div {
        width: 1400px;
        height: 500px;

    }

    .portfolio_slide_divs {
        width: 350px;
        height: 500px;
    }

    .portfolio_slides_picture{
        width: 300px;
        left: 20px;
        top: -250px;
        transition: ease-in-out 0.6s;
    }

    #portfolio_left_arrow_span{
        left: 65px;
    }

    #portfolio_right_arrow_span{
        right: 115px;
    }
}


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 600px) {

    .slider_main_div{
        width: 350px;
        height: 500px;
        left: -150px;
    }

    .slider_long_div {
        width: 1400px;
        height: 500px;

    }

    .portfolio_slide_divs {
        width: 350px;
        height: 500px;
    }

    .portfolio_slides_picture{
        width: 300px;
        left: 20px;
        top: -250px;
    }

    #portfolio_left_arrow_span{
        left: 25px;
    }

    #portfolio_right_arrow_span{
        right: 175px;
    }

}


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 530px) {

    .slider_main_div{
        width: 350px;
        height: 500px;
        left: -220px;
    }

    .slider_long_div {
        width: 1400px;
        height: 500px;

    }

    .portfolio_slide_divs {
        width: 350px;
        height: 500px;
    }

    .portfolio_slides_picture{
        width: 300px;
        left: 20px;
        top: -250px;
    }

    #portfolio_left_arrow_span{
        left: 0;
    }

    #portfolio_right_arrow_span{
        right: 225px;
    }

}

