#section_skills {
    width: 100%;
    height: 930px;
    /*background-color: azure;*/
    /*border: 2px solid red;*/
}

#skills_main_container {
    /*border: 2px solid green;*/
    height: calc(930px - 132px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#skills_main_container > div {
    /*border: 1px solid black;*/
    position: relative;
    width: 500px;
    height: 110px;

}

#skills_main_container > div:nth-child(1) {
    /*height: 200px;*/
}

#skills_main_container > div:nth-child(2) {

}

#skills_main_container > div:nth-child(3) {
    top: -100px;
}

#skills_main_container > div > img {
    width: 48px;
    position: relative;
    left: 20px;
    top: 25px;
    /*display: inline;*/

}

#skills_main_container > div > h2 {
    font-family: 'Inter', sans-serif;
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    display: inline;
    position: relative;
    left: 40px;
    top: 0;

}

#skills_main_container > div > h3 {
    font-family: 'Pathway Extreme', sans-serif;
    width: fit-content;
    height: fit-content;
    display: inline;
    font-size: 14px;
    color: #868B8D;
    position: relative;
    left: 92px;
    top: -28px;

}

.click{
    /*transform: rotate(180deg);*/
    /*color: red;*/
    /*font-size: 30px;*/
    /*height: 120px;*/
    /*width: 800px;*/
}

.aside{
    /*color: #ff253a;*/
    /*top: 100px;*/
    /*transform: translateY(20px);*/
}

.document{
    transform: rotate(-180deg);
}

.skill_down_arrow_div{
    position: relative;
    width: 38px;
    height: 40px;
    left: 415px;
    top: -32px;
    transition: ease-in-out 0.3s;
}

#skill_down_arrow_div2{
    left: 400px;
}


/*.skill_down_arrow{
    width: 40px;
    position: relative;
    left: 150px;
    top: 15px;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}*/
.btn_skill_down_arrow_class{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 38px;
    color: var(--ligth-blue-colour);
    cursor: pointer;
}

.address{

}

#btn_skill_down_arrow1{

}

#btn_skill_down_arrow2 {

}











.skills_images{
    width: 300px;
    height: 60px;
    /*border: 1px solid red;*/
    position: relative;
    margin-left: 90px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: none;
}

.arrow{
    display: grid;
}

.skills_images > div{
    /*border: 1px solid green;*/
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}

#skills_image_id1 > div:nth-child(1){
    background-image: url("/assets/img/icons8-html-5.png");
    transition: ease-in-out 0.3s;
}

#skills_image_id1 > div:nth-child(1):hover{
    transform: translateY(-10px);
}

#skills_image_id1 > div:nth-child(2){
    background-image: url("/assets/img/icons8-css3.png");
}

#skills_image_id1 > div:nth-child(3){
    background-image: url("/assets/img/icons8-javascript.png");
}














/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    #section_skills {
        height: 720px;
    }

    #skills_main_container{
        height: calc(710px - 114px);
    }

    #skills_main_container > div{
        /*border: 2px solid black;*/
        width: 350px;
        height: 95px;
    }

    #skills_main_container > div:nth-child(1){

    }

    #skills_main_container > div:nth-child(2){

    }

    #skills_main_container > div:nth-child(3){

    }

    #skills_main_container > div > img{
        width: 40px;
        position: relative;
        left: 20px;
        top: 20px;
        /*display: inline;*/
    }

    #skills_main_container > div > h2{
        font-size: 18px;
    }

    #skills_main_container > div > h3{
        font-size: 12px;
    }

    .skill_down_arrow{
        left: 70px;
    }

    #btn_skill_down_arrow2{
        left: 150px;
    }

}