:root{
    --skills-icons-box-shadow : 0 1px 2px 0 gray;
    --icon-transition: ease-in-out 0.3s;
    --skills-icon-transform: translateY(-8px);
}


#section_skills {
    width: 100%;
    margin-bottom: 100px;
}

#skills_main_container {
    height: calc(950px - 132px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#skills_main_container > div {
    position: relative;
    width: 500px;
    height: 110px;
}

#skills_main_container > div:nth-child(3) {
    top: -100px;
}

#skills_main_container > div > img {
    width: 48px;
    position: relative;
    left: 20px;
    top: 25px;
}

#skills_main_container > div > h2 {
    font-family: 'Inter', sans-serif;
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    display: inline;
    position: relative;
    left: 40px;
    top: 0;
}

#skills_main_container > div > h3 {
    font-family: 'Pathway Extreme', sans-serif;
    width: fit-content;
    height: fit-content;
    display: inline;
    font-size: 14px;
    color: #868B8D;
    position: relative;
    left: 92px;
    top: -28px;
}

.skill_down_arrow_div{
    position: relative;
    width: 38px;
    height: 40px;
    left: 415px;
    top: -32px;
    transition: var(--icon-transition);
}

#skill_down_arrow_div2{
    left: 400px;
}

.btn_skill_down_arrow_class{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    font-size: 38px;
    color: var(--ligth-blue-colour);
    cursor: pointer;
}

.skills_images{
    width: 300px;
    height: 60px;
    position: relative;
    margin-left: 90px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: none;
}

.skills_images > div{
    background-size: cover;
    background-position: center;
    width: 60px;
    height: 60px;
}

#skills_image_id1 > div:nth-child(1){
    background: url("../img/icons8-html-5.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id1 > div:nth-child(1):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id1 > div:nth-child(2){
    background: url("../img/icons8-css3.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id1 > div:nth-child(2):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id1 > div:nth-child(3){
    background: url("../img/icons8-javascript.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id1 > div:nth-child(3):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id1 > div:nth-child(4){
    background: url("../img/icons8-react-80.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id1 > div:nth-child(4):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}








#skills_image_id2 > div:nth-child(1){
    background: url("../img/icons8-figma.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id2 > div:nth-child(1):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id2 > div:nth-child(2){
    background: url("../img/icons8-adobe-photoshop.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id2 > div:nth-child(2):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id2 > div:nth-child(3){
    background: url("../img/icons8-adobe-indesign.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id2 > div:nth-child(3):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id2 > div:nth-child(4){
    /*background: url("../img/icons8-adobe-indesign.png");
    background-size: cover;*/
    transition: var(--icon-transition);
}

#skills_image_id2 > div:nth-child(4):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}








#skills_image_id3 > div:nth-child(1){
    background: url("../img/icons8-java-144.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id3 > div:nth-child(1):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id3 > div:nth-child(2){
    background: url("../img/icons8-mysql-144.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id3 > div:nth-child(2):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id3 > div:nth-child(3){
    background: url("../img/icons8-spring-boot-144.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id3 > div:nth-child(3):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}

#skills_image_id3 > div:nth-child(4){
    background: url("../img/icons8-spring-boot-144.png");
    background-size: cover;
    transition: var(--icon-transition);
}

#skills_image_id3 > div:nth-child(4):hover{
    transform: var(--skills-icon-transform);
    box-shadow: var(--skills-icons-box-shadow);
}






/*--------------------------------------------------Media Query-------------------------------------------------------*/
/* ################################################################################################################## */


@media screen and (max-width: 1540px) {
    #section_skills {
        height: 720px;
    }

    #skills_main_container{
        height: calc(710px - 114px);
    }

    #skills_main_container > div{
        width: 350px;
        height: 95px;
    }

    #skills_main_container > div:nth-child(1){

    }

    #skills_main_container > div:nth-child(2){

    }

    #skills_main_container > div:nth-child(3){

    }

    #skills_main_container > div > img{
        width: 40px;
        position: relative;
        left: 20px;
        top: 20px;
    }

    #skills_main_container > div > h2{
        font-size: 18px;
    }

    #skills_main_container > div > h3{
        font-size: 12px;
    }

    #btn_skill_down_arrow2{
        left: -200px;
    }

    .skill_down_arrow_div{
        left: 315px;
    }

    #skill_down_arrow_div2{
        left: 315px;
    }

    #btn_skill_down_arrow2{
        left: 0;
    }

    .skills_images{
        width: 265px;
        height: 60px;
        margin-left: 83px;
    }

    .skills_images > div{
        width: 50px;
        height: 50px;
    }
}


/*----------------------------------------------------------------------------------------------------------------*/


@media screen and (max-width: 772px) {

    #section_skills {
        height: 650px;
    }

    #skills_main_container {
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
        grid-template-areas:
            "skills_div-3 skills_div-2"
            "skills_div-2 skills_div-3";
        height: 600px;
    }

    #skills_div-3{
        margin-top: 50px;
    }

    #skills_main_container > div:nth-child(1) {
        margin-bottom: 100px;
    }

    #skills_main_container > div:nth-child(2) {
        top: -80px;
    }

    #skills_main_container > div:nth-child(3) {
        top: -120px;
    }

}









